<!-- include header -->
<%- include('include/_aheader') %>
     <main id='site-main'>
          <div class="container">
               <div class="box-nav d-flex-justify-between">
                    <button type="button" class="btn btn-info">
                         <a href="/" class="border-shadow">
                              <span class="text-gradient"><i class="fas fa-angle-double-left"></i>&nbsp;Back &nbsp;
                              </span>
                         </a>
                    </button>
               </div>
               <div class="form-title text-center">
                    <h2 class="display-2">Create user</h2>
                    <span class="text-light">Use the form below to create a new account</span>
               </div>
               <br><br>
               <!-- form will be connected to mongodb-->
               <%- include('include/_aform')%>
          </div>
     </main>

     <!-- include footer -->
     <%- include('include/_footer')%>