<%- include('include/_uheader') -%>
<!--  NAVIGATION  -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      <div class="navbar-header">
          <!-- responsive button  -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navi" aria-label="Span">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
              <video autoplay loop muted style="position: relative; margin-top: -15%; height: 6.5rem; width: 15rem;">
                  <source src="/img/Rishi_Studio_Logo.mp4" type="video/mp4">
              </video>
          </a>
      </div>
      <div class="collapse navbar-collapse" id="navi">
      <ul class="nav navbar-nav navbar-right">
          <li><a  class="roundbtn">Home</a></li>
          <li><a class="btn-link" href='/logout'>Logout</a></li>
      </ul>
      </div>
  </div>
</nav>
<!--  NAVIGATION ENDS  -->

<!--  SLIDER STARTS  -->

    <section class="slider text-center" id="slider">
      <div class="slider-overlay">
          <div class="slider-content">
              <div class="icons">
                  <i class="fa fa-apple"></i>
                  <i class="fa fa-android"></i>
                  <i class="fa fa-windows"></i>
              </div><br>
              <div class="text">
                  <h3>Fashion, Right Here...</h3>
              </div>
              <div class="cta-div">
                  <a href="" class="btn1">CONTACT ME!</a>
                  <a href="" class="btn2">LEARN MORE!</a>
              </div>
              <br><br>
              <div class="social-networks">
                  <a href="https://www.linkedin.com/in/rishiraj-s-a11b20269" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href="https://github.com/rishi-rj-s" target="_blank"><i class="fa fa-github"></i></a>
              </div>
          </div>
      </div>
  </section>

</body>
</html>